body {
    background-color: #f6f6f6;
  }

h1{
    color: #002a30;
    text-align: center;
}

h2{
    color: #002a30;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #009dcf;
    width: 10%;
  }

.paragraphs{
    padding: 0.01em 16px;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.company{
  color: #009dcf;
  font-weight: bold;
  margin-left: 30px;
}

.titles{
  text-align: left;
}

.concaved{
  margin-left: 30px;
}