body {
  background-image: url("images/numbers.png");
  background-size: cover;
  background-color: lightcyan;
}

.mainDiv {
  border-radius: 25px;
  margin: auto;
  width: 600px;
  background-color: powderblue;
}

.innerDiv {
  padding: 30px;
  padding-left: 50px;
}

h1 {
    margin-top: 25px;
    text-align:center;
    color: white;
}

.divOnTop {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background-color: darkcyan;
  border-bottom: 4px double white;
}

#payment {
  text-align: center;
}