body {
  background-color: lightcyan;
}

p {
  font-size: 20px;
  font-family: fantasy;
  color: #178fff;
  text-transform: lowercase;
}

ol {
  background-color: red;
  border: 3px solid green;
}

img {
  border: 5px solid pink;
  width: 10%;
}

table, td, th {
  border: 3px solid yellow;
}